@charset "utf-8";

* { margin:0; padding:0; border:none }
html { font-family:Verdana, Geneva, sans-serif; color:#000; font-size:10px; cursor:default }
body {width:960px;margin:auto}

#autenticacao {position:fixed;z-index:10;background:#FFF;width:960px;height:25px;line-height:25px;border-bottom:1px solid #CCC}
#autenticacao #relogioTopo {float:left}
#autenticacao ul {float:right;list-style:none}
#autenticacao ul li {float:left;margin:0 0 0 20px}
#autenticacao ul li a {color:#000}

#topo {width:100%;float:left;height:130px;margin:30px 0 0 0}
#topo .logo {float:left;border:1px solid #CCC;width:250px;height:130px;}
#topo ul.botoes {float:right;list-style:none;margin:25px 0 0 0}
#topo ul.botoes li {float:left;margin:0 0 0 20px;border:1px solid #CCC;border-radius:3px;}
#topo ul.botoes li:hover {border-color:#999;}
#topo ul.botoes li a {color:#000;padding:7px 14px;display:block;text-decoration:none}
#topo .interacao {float:right;clear:right;margin:20px 0 0 0;width:615px}
#topo .interacao .busca {float:left;}
#topo .interacao .busca .inputtext {float:left;padding:8px 16px;border:1px solid #CCC;color:#999;width:260px;}
#topo .interacao .busca .inputsubmit {float:left;padding:7px;border:1px solid #CCC;color:#999;width:auto;margin:0 0 0 5px;cursor:pointer}
#topo .interacao .indiqueProduto {float:right;}
#topo .interacao .indiqueProduto .inputtext {float:left;padding:8px 16px;border:1px solid #CCC;color:#999;width:220px;}
#topo .interacao .indiqueProduto .inputsubmit {float:left;padding:7px;border:1px solid #CCC;color:#999;width:auto;margin:0 0 0 5px;cursor:pointer}
#topo .interacao ul.acao {float:left;list-style:none}
#topo .interacao ul.acao li {float:left;margin:0 0 0 25px;}
#topo .interacao ul.acao li:hover {border-color:#999;}
#topo .interacao ul.acao li a {color:#000;padding:10px 0 0 0;display:block;}
#topo .interacao {float:right;clear:right;margin:20px 0 0 0}

#conteudo {width:100%;float:left;margin:30px 0 0 0;display:table}
#conteudo .conteudo {width:100%;float:left;clear:both;display:table}
#conteudo .conteudo h2 {font-weight:normal}
#conteudo .conteudo .itemLeilao {width:200px;height:280px;border:1px solid #CCC;float:left;margin:20px 7.5px 0 0;text-align:center}
#conteudo .conteudo .itemLeilao .cents {position:absolute;z-index:10;}
#conteudo .conteudo .itemLeilao .itemProduto {height:180px;width:182px;overflow:hidden}
#conteudo .conteudo .itemLeilao.fimLista {margin-right:0}
#conteudo .conteudo .itemLeilao .itemProduto p.produto {margin:10px 0 0 0;font-size:16px;color:#666}
#conteudo .conteudo .itemLeilao .itemProduto p.inicio {margin:10px 0 0 0;color:#666}
#conteudo .conteudo .itemLeilao p.fim {margin:5px 0 0 0;color:#666}
#conteudo .conteudo .itemLeilao p.valor {color:#666;font-size:10px;}
#conteudo .conteudo .itemLeilao p.lance {margin:5px auto 0 auto;color:#666;font-size:14px;padding:5px;background:#CCC;width:100px;}
#conteudo .conteudo .itemLeilao p.usuario {margin:5px auto 0 auto;color:#999;font-style:italic}
#conteudo .conteudo .itemLeilao p.arrematado {margin:10px auto 0 auto;color:#999;font-style:italic}
#conteudo .conteudo .itemLeilao p.tempo {font-size:22px;margin:10px 0 0 0;color:green}
#conteudo .conteudo .itemLeilao p.tempoMenorDez {font-size:22px;margin:10px 0 0 0;color:red}
#conteudo .conteudo .itemLeilao img {margin:10px 0 0 0;height:100px;}

#menuesquerdo {float:left;width:225px;height:auto;border-right:3px double #d6d6d6}
#menuesquerdo .logo {margin:20px 0 0 25px;float: left}
#menuesquerdo h1 {margin:15px 0 0 25px;font-size:13px;float: left;color:#012E41}
#menuesquerdo ul {width:200px;height:auto;margin:20px 0 0 25px;float:left}
#menuesquerdo ul li {width:100%;height:30px;line-height:30px;list-style:none;margin: 0 0 5px 0;background:#ededed;box-shadow:#FFF 1px 1px 2px}
#menuesquerdo ul li.titulo {background:#CCC;color:#012E41;font-weight:bold}
#menuesquerdo ul li:hover {background:#CCC}
#menuesquerdo ul li a {text-decoration:none;color:#012E41;width:200px;height:30px;display:block} 
#menuesquerdo ul li a span {float:left;margin:0 0 0 10px}

#conteudoAdmin{   display: table;   float: right;    margin: 30px 0 0;    width: 700px;}
#conteudoAdmin .formulario h2 {margin: 5px 0 0 0;font-size:14px;height:30px;line-height:30px;border-bottom:1px solid #666;width: 100%;float: left;clear: both}
#conteudoAdmin .formulario form {width: 100%;float: left}
#conteudoAdmin .formulario div.item {width:455px;}
#conteudoAdmin .formulario div.itemDireita {float: right;width:400px;}
#conteudoAdmin .formulario div.itemEsquerda {float: left;width:400px;}
#conteudoAdmin .formulario div.acao {width:100%;text-align:right}
#conteudoAdmin .formulario .input {border: 1px solid #CCC;padding:4px 2px 4px 2px;width:450px;margin: 5px 0 15px 0}
#conteudoAdmin .formulario .inputSmall {border: 1px solid #CCC;padding:4px 2px 4px 2px;width:250px;margin: 5px 0 15px 0}
#conteudoAdmin .formulario .textarea {border: 1px solid #CCC;padding:4px 2px 4px 2px;width:450px;margin: 5px 0 15px 0;font-family:Verdana, Geneva, sans-serif;font-size:12px;}
#conteudoAdmin .formulario .select {border: 1px solid #CCC;padding:4px 2px 4px 2px;width:455px;margin: 5px 0 15px 0}
#conteudoAdmin .formulario .selectSmall {border: 1px solid #CCC;padding:4px 2px 4px 2px;width:250px;margin: 5px 0 15px 0}
#conteudoAdmin .formulario .input:hover, #conteudo .formulario .textarea:hover, #conteudo .formulario .select:hover {border: 1px solid #999;}
#conteudoAdmin .button {border: 1px solid #CCC;padding:4px;margin: 5px 0 15px 0;cursor:pointer}

.tabela_arrematados {width:100%;border-collapse:collapse;font-size:12px;margin:15px 0 0 0}
.tabela_arrematados tr td {border:1px solid #ebebeb;padding:8px}