@charset "utf-8";

* {
	margin:0;padding:0;border:none
}

	html {font-family:Verdana, Geneva, sans-serif;color:#000;font-size:12px;cursor:default}
	#topo {width:100%;height:150px;background:#FFF;border-bottom: 3px double #d6d6d6}
	#topo .logo {float:left;margin:20px 0 0 20px}
	#topo h1 {float:left;margin:60px 0 0 250px}
	
	/* Form */
	
	.text, .submit {background:none;border:1px solid #C1C2C8;padding:5px;width:300px;border-radius:5px;font-size:18px;color:#868589;float:left;clear:both;margin:5px 0 5px 0}
	.submit {width:70px;float:right;cursor:pointer;color:#70A73B;border:1px solid #70A73B}
	
	
	#menuesquerdo {float:left;width:250px;height:auto;border-right:3px double #d6d6d6}
	#menuesquerdo ul {width:200px;height:auto;margin:30px 0 0 25px;float:left}
	#menuesquerdo ul li {width:100%;height:30px;line-height:30px;list-style:none;margin: 0 0 5px 0;background:url(/otimolance/conta/img/bgitem.jpg) repeat-x;border-radius:3px;box-shadow:#FFF 1px 1px 2px}
	#menuesquerdo ul li.titulo {background:url(/otimolance/conta/img/bgtitulo.jpg) repeat-x;color:#FFF;font-weight:bold}
	#menuesquerdo ul li:hover {background:url(/otimolance/conta/img/bgtitulo.jpg) repeat-x;}
	#menuesquerdo ul li a {text-decoration:none;color:#FFF;width:200px;height:30px;display:block} 
	#menuesquerdo ul li a span {float:left;margin:0 0 0 10px} 
	
	
	#conteudo {float:left;height:auto;margin:30px 0 0 30px;width:900px;}
	#conteudo .titulo {margin: 0 0 25px 0}
	#conteudo .titulo p {line-height:25px;height:25px;border:1px solid #d6d6d6;margin:5px 0 0 0;font-size:11px;color:#666}
	#conteudo .titulo p a {color:#666}
	#conteudo .titulo p span {margin-left:10px}
	#conteudo .titulo p span span {font-size:10px;margin-left:0px}
	#conteudo .acoes {text-align:right;margin:30px 0 30px 0;background:#f4f4f4}
	#conteudo .formulario h2 {margin: 5px 0 0 0;font-size:14px;height:30px;line-height:30px;border-bottom:1px solid #666}
	#conteudo .formulario form {margin: 15px 0 0 0}
	#conteudo .formulario div.item {width:455px;}
	#conteudo .formulario div.acao {width:455px;text-align:right}
	#conteudo .formulario .input {border: 1px solid #CCC;padding:4px 2px 4px 2px;width:450px;margin: 5px 0 15px 0}
        #conteudo .formulario .inputSmall {border: 1px solid #CCC;padding:4px 2px 4px 2px;width:250px;margin: 5px 0 15px 0}
	#conteudo .formulario .textarea {border: 1px solid #CCC;padding:4px 2px 4px 2px;width:450px;margin: 5px 0 15px 0;font-family:Verdana, Geneva, sans-serif;font-size:12px;}
	#conteudo .formulario .select {border: 1px solid #CCC;padding:4px 2px 4px 2px;width:455px;margin: 5px 0 15px 0}
	#conteudo .formulario .input:hover, #conteudo .formulario .textarea:hover, #conteudo .formulario .select:hover {border: 1px solid #999;}
	#conteudo .button {border: 1px solid #CCC;padding:4px;margin: 5px 0 15px 0;cursor:pointer}
	#conteudo .button:hover {border: 1px solid #999;}
	#conteudo .tabela {width:100%;border-collapse:collapse}
	#conteudo .tabela tr td {border:1px solid #CCC;padding:10px}
	#conteudo .tabela thead {font-weight:bold;background:#f4f4f4}
	#conteudo .tabela .linha:hover {background:#f4f4f4;border:1px solid #999}
	#conteudo .paginas {margin: 15px 0 25px 0;color:#333333;word-spacing:5px}
	#conteudo .paginas a {padding:5px}
	#conteudo .paginas .atual, #conteudo .paginas a:hover{background:#333333;color:#FFF}
        .galeria_lista {display: table;float: left;margin: 15px 40px 25px 0;width: 230px;}
        .galeria_lista.final {margin-right: 0px;}
        .galeria_lista .galeria_notica {float: left}
        .galeria_lista .galeria_img {padding: 8px;border:2px solid #d8d9dd}
        .galeria_lista .galeria_img img {width: 250px; height: 200px}
        .galeria_lista .galeria_data {margin: 5px 0 0 0;font-size: 12px}
        .galeria_lista .galeria_legenda {font-size: 11px}
	
#anexos {
    list-style-image: url(/otimolance/conta/img/file.png);
}

#frameAnexos {
    border: 1;
    overflow: hidden;
    
    height: 60px;
    width: 450px;
}

img.remover {
    cursor: pointer;
    vertical-align: bottom;
}

#telaLogin {
	margin: 100px auto 0 auto;
	width: 230px;
	display: table;
	text-align: left;
}

#telaLogin fieldset {
	padding: 10px 10px 20px 10px;
	border: 1px solid #CDCDCD;
}

#telaLogin fieldset legend {
	font-size: 14px;
	font-weight: bold;
	padding: 0 5px 0 8px;
	color: #000;
}

#telaLogin fieldset p {
	padding: 10px 0 3px 0;
	color: #333;
}

#telaLogin fieldset input {
	background: url(/otimolance/conta/img/bg_input.gif) repeat-x;
	border: 1px solid #efefef;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	padding-left: 5px;
	color: #333;
}

#rodape_login {
	width: 100%;
	height: 51px;
	vertical-align: middle;
	background: url(/otimolance/conta/img/bg-index.jpg) repeat-x top left transparent;
	bottom: 0;
	left: 0;
	cursor: default;
}

.info, .success, .warning, .error, .validation {

    border: 1px solid;

    margin: 10px 0px;

    padding:15px 10px 15px 50px;

    background-repeat: no-repeat;

    background-position: 10px center;

}

.info {

    color: #00529B;

    background-color: #BDE5F8;

    background-image: url('info.png');

}

.success {

    color: #4F8A10;

    background-color: #DFF2BF;

    background-image:url('/otimolance/conta/img/correto.jpg');

}

.warning {

    color: #9F6000;

    background-color: #FEEFB3;

    background-image: url('warning.png');

}

.error {

    color: #D8000C;

    background-color: #FFBABA;

    background-image: url('/otimolance/conta/img/erro.jpg');

}

